body{
    background-color: beige;
}

#products{
    background-color: rgb(250, 200, 200);
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    display: flex;

}

.cardsito{
    background-color: rgb(177, 116, 116);
    margin-top:40px;
    margin-right:40px;
   
    width:200px;
}

.imageCard{
    width:100%;
}
